<style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  height: 15%
}

.header{
	width: auto;
    height: 15%;
    background-color: darkgray;
    padding: 1px 1px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 50px;
  height: 100%;
  width: 100%;
}

#To_Do_list {background-color: pink;}
#Calculator {background-color: LightBlue;}
#Weight_Converter {background-color: Salmon;}
#About {background-color: Coral;}
</style>